*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo img{
    height: 2em;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: aquamarine;
    margin: auto;
    height: 2em;
    font-size: 1.5em;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.menu li{
    color: white;
    margin-left: 0;
    margin-right: 0;
}
.navbar .d-flex {
    flex: 1;
    justify-content: center; 
}
.Hero{
    
    /* background-image: url();  */
    background-size: cover;
    background-position: center;
    padding: 500px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.inner-hero {
    color: black;
    font-size: 2rem;
}

.Hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: black;
}


@media (min-width: 576px){
    button{
      display: none;
    }
    h1{
        display: none;
    }
}
@media (max-width: 576px){
    .navbarlink{
      display: none;
    }
    .navbar ul{
        display: none;
    } 
}
@media (max-width: 768px){
    .navbar ul{
        display: none;
    }
    .navbarlink{
        display: none;
      }
}
@media(min-width:768px){
    button{
        display: none;
      }
      h1{
          display: none;
      }

}
