*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: aquamarine;
    /* justify-content: space-between; */
    margin: auto;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.menu li{
    color: white;
    margin-left: 0;
    margin-right: 0;
}
.navbar .d-flex {
    flex: 1;
    justify-content: center; 
}



@media (min-width: 576px){
    button{
      display: none;
    }
    h1{
        display: none;
    }
}
@media (max-width: 576px){
    .navbarlink{
      display: none;
    }
   
    
}
@media (max-width: 768px){
    .navbar ul{
        display: none;
    }
    
}
